<div>
    <h1>{{game.title}}</h1>
    <!-- Post Content -->
    <div class="reviews">
        <label> Reviews: </label>
        <div class="row">
            <div ng-repeat="review in game.reviews track by review.id" class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2> {{review.title}}</h2>
                    </div>
                    <div class="panel-body">
                        <p> {{review.review}} </p>
                        <p> {{review.grade}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
    add Review
    </button>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="form-horizontal" role="form" ng-submit="addReview()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add new Review:</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="title" name="title" placeholder="" ng-model="newGame.title" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="review" class="col-sm-2 control-label">Review</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" ng-model="newGame.review" rows="4" name="review"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="grade" class="col-sm-2 control-label">Grade</label>
                            <div class="col-sm-10">
                                <select class="form-control" ng-model="newGame.grade">
                                    <option value=1>*</option>
                                    <option value=2>**</option>
                                    <option value=3>***</option>
                                    <option value=4>****</option>
                                    <option value=5>*****</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button class="btn btn-primary" id="submit" name="submit" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>