<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2> List of Games</h2>
    </div>
    <div class="col-sm-4 col-md-4 pull-right">
      <form class="navbar-form" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="q" ng-model="query">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th><a href="" ng-click="orderProp = 'title';reverse=!reverse">Title</a></th>
          <th><a href="" ng-click="orderProp = 'grade'; reverse=!reverse">Grade</a></th>
          <th>Reviews</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="games">
        <tr ng-repeat="game in games | filter:query|orderBy:orderProp:reverse track by game.id">
          <td><a href="#/games/{{game.id}}">{{game.title}}</a></td>
          <td>{{game.grade}}</td>
          <td>{{game.reviews.length}}</td>
          <td><a ng-click="editGame(game.id)">edit</a> <a ng-click="deleteGame(game.id)">delete</a>
        </tr>
      </tbody>
    </table>
    <form name="gameForm" ng-submit="addGame()">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="New Game" name="q" ng-model="newGame.title">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">save</button>
        </div>
      </form>
    </div><!--row-->
  </div><!--container-->